@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AcademyWebEF.BusinessEntities.Student

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form>

                <label>StudentName</label>
                <label class="form-control">@Model.StudentName</label>

                <label>Roll No</label>
                <label class="form-control">@Model.RollNo</label>

                <label>Date Of Birth</label>
                <label class="form-control">@Model.Dob.ToString("dd/MM/yyyy")</label>

                <label>Email</label>
                <label class="form-control">@Model.Email</label>

                <label>Mobile No</label>
                <label class="form-control">@Model.MobileNo</label>

                <div style="margin-top:20px;">
                    <a href="@Url.Action("StudentsList","Student")" style="margin-right:5px;" class="btn btn-secondary">Back</a>
                </div>

            </form>
        </div>
        <div class="col-6"></div>
    </div>
</div>